# Database
POSTGRES_DB=gear_rental
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
DATABASE_URL=postgres://postgres:change_me@db:5432/gear_rental

# Django
SECRET_KEY=replace-with-50-char-random-string
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
